@import "styles/mixins";
@import "styles/colors";
@import "styles/variables";

.container {
  background-color: #f8f9fa;

  .headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .main {
    height: 100%;
    min-height: calc(100vh - $footerHeight);
    max-width: 100%;
    margin: auto;
    padding: $headerHeight 0 0;
  }
}
