@import "styles/mixins";
@import "styles/colors";

.controls {
  display: flex;
  justify-content: space-between;
}

.searchControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.charactersList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
